

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
    text-align: center;
}

hr {
    margin: 32px 0;
}

button, input {
    border-radius: 8px;
    box-sizing: border-box;
    display: block;
    font-size: 16px;
    margin: 8px 0;
    padding: 8px;
    width: 100%;
}

input {
    border: 1px solid black;
}

button {
    background-color: rgb(127, 208, 235);
    border: 1px solid rgb(127, 176, 231);
    cursor: pointer;
    
}

.page-container {
    display:flex;
    background-color: rgb(255, 252, 252);
    min-height: 100vh;
    min-width: 100%;
    align-items: center;
    justify-content: center;
}

.content-container {
    background-color: lightgrey;
    border-radius: 50px;
    width: 460px;
    padding: 32px;

}

.success {
    background-color: #90ee90;
    border-radius: 8px;
    margin-bottom: 8px;
    padding: 16px;
    text-align: center;
}

.fail {
    background-color: #ffcccb;
    border-radius: 8px;
    margin-bottom: 8px;
    padding: 16px;
    text-align: center;
}
